pre {
    border-radius: 5px;
    margin: 1rem 0;
    background-color: #282c34;
    color: #f8f9fa;
    padding: 1rem;
    border-radius: 5px;
}

.var {
    color: #e0c3fc;
}

.string {
    color: #98c379;
}

.number, .boolean, .null {
    color: orange;
}

.equal, .semicolon, .comma, .quotation-mark, .colon, .dot, .typeof, .plus, .backticks, .operator {
    color: #0dbab1;
}

.log, .isArray, .method {
    color: #61afef;
}

.parentheses, .brackets, .curly-brackets {
    color: yellow;
}

.error {
    border-bottom: 1px dashed red;
}

.bg-color-text {
    background-color: #282c34;
}

.within-parentheses, .condition {
    color: #c792ea;
}